* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(0,0,0) url(style/winter.jpg) fixed no-repeat center top;
  background-size: 100%;
  color: rgb(20,20,20);
  /*font-family: 'Cuprum', sans-serif;
    font-family: 'Ledger', serif;
    font-family: 'Forum', cursive;   
   */
  font-family: 'Ledger', serif;
  font-size: 12px;
}

.all {
  width: 1000px;
  background-color:rgb(255,255,255);
}

/*top*/

.panel {
  display: block;
  border-top: 5px solid rgb(255,255,235);
  border-bottom: 1px solid rgb(255,255,245);
  background-color: rgb(0,0,0);
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}

.logo {
  display: block;
  
  margin: 0 50px;
  width: 200px;
  height: 96px;
  background-image: url(style/logo1.jpg);
  background-size: cover;
}

.menu {
  float: right;
  margin-right: 50px;
  margin-top: 50px;
  
}

.menu li {
  display: block;
  float: left;
  padding: 10px;
  background-color: white;
  border-right: 1px solid rgb(0,0,0);
  font-weight: bold;
}

.menu a{
  text-decoration: none;
  color: rgb(80,80,80);
}

.menu li:hover a {
  color: rgb(0,0,0);
} 

/*first part of content: picture with header*/

.content>* {
  margin: 30px 50px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.images {
  height: 400px;
  background-image: url(style/qroun.jpg);
  background-size: cover;
}

/*second: pic and 2 columns*/

.image {
  background-image: url(style/stark.jpeg);
  background-size: cover;
  height: 200px;
  width: 280px;
}

.column {
  margin-top: 30px;
  height: 150px;
  width: 280px;
}

/*third: 3 columns*/

.hz {
  padding: 30px 0;
  border-top: 1px solid rgb(30,30,30);
  border-bottom: 1px solid rgb(30,30,30);  
}

.b-lock {
  float: left;
  background-color: rgb(180,200,220);
  width: 280px;
  height: 150px;
} 

/*4th: column and 3 images*/


.column2 {
  width: 200px;
}

.discription {
  margin-right: 18px;
}

.together {
  float: left;
  margin-left: 20px;
  width: 206px;
}

.link {
  text-decoration: none;
  color: rgb(80,120,140);
}

.link:hover {
  text-decoration: underline;
}

.pic {
  width: 200px;
  height: 150px;
  border: 3px solid rgb(180,200,220);
  background-size: cover;
}

.pic1 {
  background-image:url(style/targarien.jpg); 
}

.pic2 {
  background-image:url(style/barateon.jpg); 
}

.pic3 {
  background-image:url(style/grayjoy.jpg); 
}

/*bottom*/

.basement {
  display: block;
  float: left;
  border-bottom: 5px solid rgb(255,255,235);
  border-top: 1px solid rgb(255,255,245);
  background-color: rgb(0,0,0);
  color: rgb(80,80,80);
  width: 100%;
  padding: 30px 0;
}

.icon {
  width: 24px;
  height: 24px; 
  background-position: 0 0;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.twitter {
  background-image: url(style/twitter.png);
}

.vk{
  background-image: url(style/vkontakte.png);
}

.youtube{
  background-image: url(style/youtube.png);
}

.mail{
  background-image: url(style/mail.png);
}


/* properties */

.colored {
  color: rgb(180,200,220);
}

.hidden {
  overflow: hidden;
}

.top {
  margin-top: -30px;
}

.bottom {
  margin-top: 20px;
}

.cursive {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.move {
  margin-right: 30px;
}

.centering {
  padding-left: 50%;
}

.centered {
  margin-left: -500px;
}

.loong {
  width: 586px;
}

.float-left {
  float: left;
}

.button {
  border-width: 0px;
  padding: 3px;
  text-transform: uppercase;
  font-family: 'Cuprum', sans-serif;
  background-color:rgb(200,220,240);
}

.button:hover {
  color: rgb(255,255,255);
  background-color: rgb(100,150,175);
}

/*headers*/

h1 {
  font-size: 30px;
  text-transform: uppercase;
}

h2 {	
  float: left;
  font-size: 20px;
  padding: 2px;
  width: 200px;
  text-transform: uppercase;
}

h4 {
  font-size: 15px;
  font-weight: normal;
}








