* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(0,0,0) url(images/winter.jpg) fixed no-repeat center top;
  background-size: 100%;
  color: rgb(20,20,20);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.all {
  width: 1000px;
  overflow: hidden;
  background-color:rgb(255,255,255);
}

/*top*/

.panel {
  display: block;
  float: left;
  padding: 10px 0;
  background-color: rgb(0,0,0);
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}

.enter-block {
  float: right;
  padding-left: 300px;
  margin: 10px 50px 0 0;
  color: rgb(180,200,220);
}

.menu {
  float: right;
  margin-right: 20px;
  margin-top: 20px; 
}

.menu li {
  display: block; 
  height: 20px;
  background-color: rgb(30,30,30);
  font-weight: bold;
}

.menu>li {
  float: left;
  padding: 5px 0 5px 0;
  width: 110px;
  border-right: 1px solid rgb(0,0,0);
  text-align: center;
}

.menu ul {
  padding: 0;
  position: relative;
  top: 15px;
  visibility: hidden;
  display: block;
  transition: 1s 0s;
  opacity: 0;
}

.menu>li:hover>ul {
  visibility: visible;
  transition: 1s 0s;
  opacity: 1;
}

.menu li:first-child::after{
  content: ''; 
  position: absolute; 
  top: -10px;
  left: 30px; 
  border: 5px solid transparent; 
  border-bottom: 5px solid rgb(30,30,30); 
}

.menu ul>li {
  padding: 5px 0 5px 5px;
  border-bottom: 1px solid rgb(0,0,0);
  text-align: left;
  width: 150px;
}

.menu ul>li:last-child {
  border-bottom: none;
}

/*first part of content: picture with header*/

.content>* {
  margin: 30px 50px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

/*second: pic and 2 columns*/

.starks {
  width: 100%;
  padding-top: 30px;
  overflow: hidden;
}

.column {
  margin-top: 30px;
  float: left;
  height: 150px;
  width: 280px;
}

/*third: 3 columns*/

.blue-block {
  float: left;
  padding: 10px;
  background-color: rgb(235,245,255);
  width: 260px;
  height: 120px;
} 

.blue-block p {
  height: 90px;
}

.blue-block:hover h3 {
  color: rgb(100,150,175);
}

/*4th: column and 3 images*/

.thron {
  overflow: hidden;
}

.column2 {
  width: 200px;
}

.discription {
  margin-right: 18px;
  float: left;
}

.together {
  float: left;
  margin-left: 20px;
  width: 206px;
}

/*bottom*/

.basement {
  display: block;
  float: left;
  overflow: hidden;
  background-color: rgb(0,0,0);
  color: rgb(80,80,80);
  width: 100%;
  padding: 30px 0;
}

.tip {
  background-color: rgb(180,200,220);
  color: rgb(20,20,20);
  position: relative;
  top: 35px;
  visibility: hidden;
  opacity: 0;
  transition: 1s 0s;
  padding: 5px;
  border-radius: 5px;
}

.vk .tip {
  right: 22px; 
}

.twitter .tip {
  right: 15px;
}

.mail .tip {
  right: 8px;
}

.youtube .tip {
  right: 17px;
}

.tip::after{
  content: ''; 
  position: absolute; 
  bottom: 26px; 
  border: 5px solid transparent; 
  border-bottom: 5px solid rgb(180,200,220); 
}

.vk .tip::after {
  left: 30px; 
}

.twitter .tip::after {
  left: 22px; 
}

.mail .tip::after {
  left: 15px; 
}

.youtube .tip::after {
  left: 25px; 
}


.icon:hover .tip {
  visibility: visible;
  opacity: 1;
}

/*login*/

.registration {
  margin-top: 100px;
  padding: 20px;
}

.registration .button {
  font-size: 20px;
  float: right;
  margin: 30px 170px 30px 200px;
}

.login {
  width: 60%;
  margin: 10px 0 0 170px;
  padding: 10px 20px;
  background-color: rgb(235,245,255);
}

.login-text {
  font-size: 16px;
}

.login-input{
  height: 25px;
  width: 290px;
  padding: 0 5px;
  float: right;
  font-size: 16px;
  font-family: 'Ledger', serif;
  border: 1px solid rgb(80,120,140);
  background-repeat: no-repeat;
  background-position: right center;
}

.required {
  background-image: url(icons/plus.png);
}

.login-input:focus, 
.input:focus {
  box-shadow: 0 0 5px 2px rgb(200,220,240);
}

.icon_discription {
  margin: 20px 0  0 50px;
}

.goto-block {
  float: right;
  margin: 30px 170px 30px 300px;
  color: rgb(80,130,155);
}

/* enter-block*/

.form {
  visibility: hidden;
  opacity: 0;
  transition: 1s 0s;
  z-index: 2; 
  width:360px; 
  position: fixed;
  right: 50%;
  top: 50%;
  margin-top: -100px;
  margin-right: -160px; 
  box-shadow: 0 0 5px 2px rgb(200,220,240); 
  border: 1px solid rgb(235,245,255); 
  background-color: rgb(255,255,255); 
}

.formheader {
  width: 340px;
  padding: 15px 10px;
  margin-bottom: 20px;
  float: left;
  background-color: rgb(20,20,20);
}
 
.input {
  display:block; 
  height: 25px;
  width: 260px;
  padding: 0 5px;
  float: right;
  font-size: 16px;
  font-family: 'Ledger', serif;
  border: 1px solid rgb(80,120,140); 
  margin:5px
}

.enterinput {
  float: left;
  margin: 0 0 5px 25px;
  padding: 5px 15px;
  background-color: rgb(235,245,255);
}

.closebutton {
  border:1px solid rgb(200,220,240);
  border-radius: 10px;
  margin:-97px -7px 10px 0; 
  height:20px; 
  background-color:rgb(255,255,255); 
  background-image: url(icons/close.png);
  background-position: center center;
  box-shadow: 0 0 3px 2px rgb(200,220,240); 
  width:20px; 
  float:right      
}

.closebutton:hover {
  background-color:  rgb(200,220,240);
  background-image: url(icons/closehover.png);
}

.enterbutton {
  font-size: 15px;
  margin:5px 20px 5px 294px;      
}

/* links */

.goto {
  font-size: 16px;
  color: rgb(80,130,155);
  text-decoration: none;
}

.goto:hover {
  color: rgb(20,20,20);
}

.enter-block a {
  color: rgb(180,200,220); 
  text-decoration: none;
}

.enter-block a:hover {
  color:rgb(255,255,255);
}

.link {
  text-decoration: none;
  color: rgb(80,120,140);
}

.link:hover {
  text-decoration: underline;
} 


.menu li a{
  text-decoration: none;
  color: rgb(180,200,220);
}

.menu li:hover>a {
  color: rgb(255,255,255);
}

.menu ul>li:hover {
  background-color: rgb(60,60,60);
} 

.menu li:first-child:hover::after{
  border-bottom: 5px solid rgb(60,60,60);
}
 
/* images */

.plusicon {
  background-image: url(icons/plus.png);
  width: 16px;
  height: 17px;
  display: block;
  float: left;
}

.img {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 15px;
  background-color: black;
  margin-right: 5px;
}

.tirrel-img {
  background-image: url(images/tirrel.jpg);
} 

.martell-img {
  background-image: url(images/martell.jpg);
} 

.grayjoy-img {
  background-image: url(images/grayjoy.jpg);
} 

.logo {
  display: block;
  float: left;
  margin: 0 50px;
  width: 200px;
  height: 96px;
  background-image: url(images/logo.jpg);
  background-size: cover;
}

.image {
  background-image: url(images/stark.jpeg);
  float: left;
  background-size: cover;
  height: 200px;
  width: 280px;
}

.icon {
  width: 24px;
  height: 24px; 
  background-position: 0 0;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  text-decoration: none;
}

.icon:hover {
  box-shadow: inset 0 0 2px 2px rgb(0,0,0);
}

.icon:focus {
  border: 0px solid black;
} 


.twitter {
  background-image: url(icons/twitter.png);
}

.vk{
  background-image: url(icons/vkontakte.png);
}

.youtube{
  background-image: url(icons/youtube.png);
}

.mail{
  background-image: url(icons/mail.png);
}

.pic {
  width: 200px;
  height: 150px;
  border: 3px solid rgb(180,200,220);
  background-size: cover;
  background-position: center center;
}

.pic1 {
  background-image:url(images/targarien.jpg); 
}

.pic2 {
  background-image:url(images/barateon.jpg); 
}

.pic3 {
  background-image:url(images/lannister.jpg); 
}

/* properties */

.bordered {
  padding: 30px 0;
  border-top: 1px solid rgb(30,30,30);
  border-bottom: 1px solid rgb(30,30,30); 
  overflow: hidden; 
}

.colored {
  color: rgb(180,200,220);
}

.move-top {
  margin-top: -30px;
}

.move-bottom {
  margin-top: 20px;
}

.cursive {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.move-right {
  margin-right: 30px;
}

.centering {
  padding-left: 50%;
}

.centered {
  margin-left: -500px;
}

.loong {
  width: 586px;
}

.button {
  border-width: 0px;
  padding: 3px;
  text-transform: uppercase;
  background-color:rgb(200,220,240);
}

.button:hover {
  color: rgb(255,255,255);
  background-color: rgb(100,150,175);
}

/*headers*/

h1,h2,h3,h4,h5 {
  font-family: 'Ledger', serif;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

h2 {	
  float: left;
  font-size: 14px;
  padding: 2px;
  width: 200px;
  text-transform: uppercase;
}

h3 {
  float: left; 
  font-size: 20px;
  padding: 5px;
  margin-top: -5px;
  width: 210px;
}

h4 {
  font-size: 15px;
  font-weight: normal;
}

h5 {
  font-size: 30px;
  color: rgb(200,220,240);
  float: left;
  font-weight: normal;
}
